.log-in-form.invalid .form-control {
  border-color: #f33a58 !important;
  border-width: 1px;
  border-style: solid;
}
.log-in-form.invalid .form-label {
  width: 50%;
  background: transparent !important;
}
.log-in-form .form-label::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-110%);
  border: 1px solid #fff;
  width: 100%;
  z-index: -1;
}
.form-floating-password {
  position: relative;
}
.show-password,
.hidden-password {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  border: none;
  background: transparent;
}
.show-password:hover,
.hidden-password:hover {
  opacity: .7;
}
.show-password img,
.hidden-password img {
  width: 25px;
}
.none {
  display: none;
}
.form-control {
  border: 1px solid #cdcdcd !important;
}
.log-in-form.invalid + .form-message {
  color: #f33a58 !important;
}
.error-container {
  margin-top: 15px;
  padding: 15px 20px;
  border: 1px solid rgba(255,66,79,.2);
  background-color: #fff9fa;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  overflow: hidden;
}
.active-error {
  border: none;
  height: 0;
  padding: 0;
}
.error-container i {
  margin-right: 15px;
  font-size: 16px;
  color: rgba(255,66,79,.7);
}
.error-message-form {
  font-size: 12px;
  color: #111;
}
